<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QLog HB9VQQ Edition</Name>
    <Version>0.48.0</Version>
    <Title>QLog HB9VQQ Edition</Title>
    <Publisher>HB9VQQ / OK1MLG</Publisher>
    <StartMenuDir>QLog HB9VQQ Edition</StartMenuDir>
    <TargetDir>@ApplicationsDir@/QLog HB9VQQ Edition</TargetDir>
    <ControlScript>controller.js</ControlScript>
</Installer>
